@import "../colors";

.collection-container {
  width: 100%;
  padding-top: 100px;
  color: #ffffff;
}

.collection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  .collection-head {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .collection-head-block-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
    max-width: 1000px;
  }

  .collection-head-img {
    width: 100%;
    height: 300px;
    border: 4px solid $secondary-color;
    background-size: cover;
    background-position: center;
  }

  .collection-head-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    border: 4px solid $secondary-color;

    .head-content-top {
      display: flex;
      justify-content: space-between;
      width: 100%;
      font-size: 22px;
    }

    .head-content-middle {
      font-size: 30px;
      margin-bottom: 30px;
    }

    .head-content-bottom {
      display: flex;
      justify-content: flex-end;
      font-size: 25px;
    }
  }

  .collection-long-bar {
    margin-top: 40px;
    width: 100%;
    height: 4px;
    background-color: $secondary-color;
  }

  .collection-info {
    display: flex;
    width: 100%;
    padding: 30px 0;

    .collection-info-left {
      padding: 0 30px;
      width: 50%;
      border-right: 2px solid $secondary-color;

      .collection-info-like {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 10px;

        .heart {
          font-size: 50px;
          cursor: pointer;
        }
      }

      .collection-info-bonus {
        display: flex;
        flex-wrap: wrap;
        width: 100%;

        .info-bonus {
          margin: 10px 20px 10px 0;
          padding: 8px 20px;
          border: 4px solid $secondary-color;
          font-size: 22px;
        }
      }
    }

    .collection-info-right {
      padding-left: 10px;
      border-left: 2px solid $secondary-color;
      width: 50%;

      span {
        color: $secondary-color;
        cursor: pointer;
      }
    }
  }

  .collection-short-bar {
    width: 45%;
    height: 5px;
    background-color: $secondary-color;
  }
}

@media screen and (max-width: 770px) {
  .collection {
    .collection-head-block-container {
      width: 100%;
    }

    .collection-info {
      flex-direction: column;
      align-items: center;

      .collection-info-left {
        width: 100%;
        border: none;

        .collection-info-bonus {
          justify-content: center;
        }

        border-bottom: 4px solid $text-color;
        margin: 8px;
      }

      .collection-info-right {
        width: 100%;
        border: none;
        text-align: center;
      }
    }
  }
}
