@import "../colors";
.home {
  z-index: -1;
}

.hero-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 650px;
  max-height: 750px;
}
.hero-banner-title-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  font-size: 120px;
  color: $text-color;
  border: 5px solid $fifth-color;
  span {
    transform: rotate(-90deg);
    margin: -10px 0;
  }
}

.hero-banner-bar-manga {
  left: 200px;
  height: 130%;
}

@media screen and (max-width: 750px) {
  .bar-manga.hero-banner-bar-manga {
    display: none;
  }
}

.type-container {
  display: flex;
  flex-direction: column;
  padding: 150px 150px 0 150px;
  position: relative;
  z-index: 5;
  width: 100%;
  background: linear-gradient(
    0deg,
    $primary-color 93%,
    rgba(53, 52, 50, 0) 100%
  );
}

.type-header {
  display: flex;
  height: 170px;
}

.type-header-left {
  position: relative;
  width: 470px;
  height: 100%;
  border: 6px solid $fifth-color;
  .type-header-left-box {
    position: absolute;
    top: -65px;
    left: -35px;
    width: 100%;
    height: 115%;
    background-color: $fifth-color;
    box-shadow: 20px 20px 15px rgba(0, 0, 0, 0.14);
  }
  h1 {
    position: absolute;
    right: 0;
    bottom: -65px;
    font-size: 40px;
    color: $text-color;
  }
  img {
    position: absolute;
    bottom: 0;
    left: 30px;
    height: 130%;
  }
}
.type-header-right {
  width: 170px;
  height: 100%;
  border: 6px solid $fifth-color;
  margin-left: 40px;
  padding: 20px;
  .type-header-right-box {
    width: 100%;
    height: 100%;
    background-color: $fifth-color;
  }
}

.type-content {
  align-self: center;
  max-width: 900px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-flow: row;
  grid-auto-rows: 400px;
  grid-gap: 0 4vw;
  margin-top: 50px;
  width: 80%;
}

@media screen and (min-width: 1600px) {
  .type-header {
    height: 250px;
  }
  .type-header-left {
    width: 650px;
    h1 {
      bottom: -95px;
      font-size: 60px;
    }
  }
  .type-header-right {
    width: 250px;
  }
  .type-content {
    margin-top: 80px;
  }
}

@media screen and (max-width: 900px) {
  .type-container {
    padding: 150px 50px 0 50px;
  }
  .type-header {
    width: 100%;
  }
  .type-header-left {
    display: flex;
    justify-content: center;
    padding: 20px;
    .type-header-left-box {
      position: initial;
      display: flex;
      justify-content: center;
      height: 100%;
    }
    h1 {
      bottom: -50px;
      font-size: 30px;
    }
    img {
      position: initial;
      height: 100%;
    }
  }
  .type-header-right {
    display: none;
  }
  .type-content {
    margin-top: 30px;
  }
}
