@import "../colors";

.user-page {
  width: 100%;

  .user-page-top {
    width: 100%;
    padding: 20px 0;

    button {
      font-size: 17px;
      padding: 5px 20px;
      border: 4px solid $secondary-color;
      color: $text-color;
      background: none;
      cursor: pointer;
      transition: 0.1s ease-in;
    }

    button:hover {
      background-color: $secondary-color;
    }
  }

  .user-nav {
    display: flex;
    flex-direction: column;
    margin-left: 90px;
    color: $text-color;
    font-size: 30px;
    margin-top: 80px;
    width: fit-content;

    .user-nav-top {
      display: flex;
      cursor: pointer;
    }

    .user-nav-bottom {
      width: 100%;
      height: 6px;
      margin-bottom: 6px;

      div {
        position: absolute;
        width: 60px;
        height: 6px;
        background-color: $secondary-color;
        transition: 0.5s ease-in-out;
      }
    }

    span {
      margin: 0;
      font-weight: 500;
    }

    border-bottom: 3px solid $secondary-color;
  }

  .user-page-content {
    width: 100%;

    .user-info {
      margin-left: 90px;
      display: flex;
      width: 100%;
      padding-top: 100px;

      .user-info-left {
        width: 200px;

        .user-info-picture {
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 90px;
          width: 200px;
          height: 200px;
          background-color: $secondary-color;
        }
      }

      .user-info-right {
        padding: 0 30px;
        display: flex;
        flex-direction: column;
        font-size: 22px;
        color: $text-color;

        span {
          margin-bottom: 10px;
        }
      }
    }
  }

  .user-likes {
    width: 100%;
    padding: 50px 120px 0 120px;

    .swiper {
      position: relative;
      height: 100%;

      .swiper-slide {
        padding: 0 60px;
      }

      .swiper-button-prev {
        position: absolute;
        top: 140px;
      }

      .swiper-button-next {
        position: absolute;
        top: 140px;
      }
    }

    .swiper-slide {
      transition: 0s;
    }

    .user-likes-title-container {
      position: relative;
      display: flex;
      align-items: center;
      width: 100%;
      height: 300px;
      background-color: $secondary-color;
      color: #fff;
      padding: 40px;
      font-size: 60px;
      background-size: cover;
      background-position: center;

      h1 {
        z-index: 3;
      }

      .user-likes-title-back {
        z-index: 2;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #000;
        opacity: 0.4;
      }
    }
  }

  .user-commentary-container {
    display: grid;
    width: 100%;
    padding: 20px 100px;
    gap: 20px;
    justify-content: center;

    .user-commentary-column {
      display: flex;
      flex-direction: column;
      width: 100%;

      .user-comment {
        display: flex;
        flex-direction: column;
        padding: 15px;
        margin-bottom: 20px;
        width: 100%;
        border: 4px solid $secondary-color;
        border-top-right-radius: 40px;
      }

      .user-comment-top {
        display: flex;
      }

      .user-comment-middle {
        margin-top: 10px;
        font-size: 15px;
        color: $text-color;
        width: 100%;
      }

      .user-comment-bottom {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        width: 100%;
        color: #ffffff;

        svg {
          cursor: pointer;
        }
      }

      .user-comment-image {
        width: 70px;
        height: 70px;
        border: 3px solid $secondary-color;
        background-size: cover;
        background-position: center;
      }

      .user-comment-title-container {
        .user-comment-title {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          width: fit-content;
          padding: 0 10px;
          height: 100%;
        }

        h1 {
          font-size: 22px;
          color: $text-color;
        }

        h2 {
          font-size: 18px;
          color: #818181;
          margin: 0;
        }

        span {
          color: #fff;
        }
      }
    }
  }

  .user-my-collection {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;

    .user-my-collection-product-container {
      display: flex;
      margin-bottom: 20px;
    }

    .user-my-collection-product-block {
      min-width: 340px;
    }

    .user-my-collection-product {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      width: 81%;
      height: 340px;
      border: 6px solid $secondary-color;
      padding: 25px 10px 10px 10px;

      .my-collection-product-image {
        width: 70%;
        height: 45%;
        border: 4px solid $secondary-color;
        background-size: cover;
        background-position: center;
      }

      .my-collection-product-info {
        display: flex;
        flex-direction: column;

        .my-collection-product-title {
          color: #ffffff;

          h1 {
            font-size: 24px;
          }
        }

        .my-collection-product-bonus {
          display: flex;
          justify-content: space-between;
          color: $text-color;
          font-size: 19px;
        }
      }

      .my-collection-product-bottom {
        display: flex;
        justify-content: space-between;
        width: 100%;

        button {
          background: none;
          color: $text-color;
          font-size: 15px;
          padding: 5px 11px;
          border: 3px solid $secondary-color;
          cursor: pointer;
          transition: 0.3s ease;
        }

        button:hover {
          background-color: $secondary-color;
          color: $primary-color;
        }
      }
    }
  }

  .user-my-collection-product-percentage-container {
    display: flex;
    align-items: center;
    margin-top: 20px;
    width: 100%;

    h1 {
      margin-left: 10px;
      font-size: 22px;
      color: $text-color;
    }

    .user-my-collection-product-percentage {
      width: 81%;
      height: 40px;
      border: 5px solid $secondary-color;

      .user-my-collection-product-percentage-content {
        height: 100%;
        background-color: $secondary-color;
      }
    }
  }

  .user-my-collection-product-mangas-list {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    margin: 0 10px;
    padding-top: 55px;
  }
}

.my-collection-manga {
  margin: 0 10px 25px 10px;
  min-width: 170px;
  max-width: 170px;
  height: fit-content;
  border: 6px solid $fifth-color;
  border-bottom-left-radius: 40px;
  border-top-right-radius: 40px;

  .my-collection-manga-image {
    width: 100%;
    height: 140px;
    border-bottom: 5px solid $fifth-color;
    background-size: cover;
    background-position: center;
    border-top-right-radius: 40px;
  }

  .my-collection-manga-title {
    display: flex;
    align-items: center;
    padding: 10px;
    width: 100%;
    height: 35%;

    h1 {
      font-size: 19px;
      color: $text-color;
    }
  }
}
