@import "../colors";

.poster-block-container {
  a {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $text-color;
    font-size: 20px;
    width: 100%;
    height: 100%;
    text-decoration: none;
  }

  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    font-size: 20px;
  }

  cursor: pointer;
}

.poster-block {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-color: $fifth-color;
}

@media screen and (max-width: 560px) {
  .poster-block {
    height: 300px;
  }
}
